#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 3px 5px rgba(0,0,0,.07) !important;
}

.navbar-nav
{
   padding: 0 10px;
   display: flex;
}

.navbar-nav li
{
   padding: 0 10px;
}

.navbar-nav li a
{
    float: right;
    text-align: left;
    font-family: Arial;
    font-size: 16px;

}

.navbar-nav li button
{
    float: right;
}

#nav-bar ul li a:hover
{
   text-shadow: 1px 1px #000000;

}

.nav-link
{
    color: #FFF!important;
    font-weight: 400;
    /* font-size: 18px; */
}

.carousel-caption
{
    z-index: 10;
    top: 40%;
    font-family: 'Raleway', sans-serif !important;
}

.carousel-caption h5
{
    font-size: 72px !important;
    font-weight: lighter !important;

}

#container-search
{
    background-image: linear-gradient(rgba(16,19,87,0.9),rgba(16,19,87,0.9)),url(backend/app/assets/images/bg.jpg);
    background-position: center;
    height: 200px;
    padding: 25px;
    text-align: center;
    background-color: #101357;
    color: #FFF;
    font-family: 'Raleway', sans-serif !important;
    font-weight: lighter !important;


}

#events-sub
{
    justify-items: center;
    margin: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

}

.card
{
    width: 400px !important;
    height: 400px !important;
    margin: 20px;

}

.subDiv
{
    overflow: hidden;
    white-space: wrap;
    margin: 20px;
}

.subDiv h2
{
    font-size: 22px
}

.subDiv h4
{
    font-size: 16px
}

.subDiv h6
{
    font-size: 12px;
    color: #333

}