/*-----------NAVBAR---------------*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10 !important;
    box-shadow: 0px 3px 5px rgba(0,0,0,.07) !important;
}

.navbar-nav
{
   padding: 0 10px;
   display: flex;
   z-index: 10 !important;

}

.navbar-nav li
{
   padding: 0 10px;

}

.navbar-nav li a
{
    float: right;
    text-align: left;
    font-family: Arial;
    font-size: 16px;
    font-family: 'Raleway', sans-serif !important;

}

.navbar-nav li button
{
    float: right;
    font-family: 'Raleway', sans-serif !important;

}

#nav-bar ul li a:hover
{
   text-shadow: 1px 1px #000000;


}

.nav-link
{
    color: #FFF!important;
    font-weight: 400;
    z-index: 10 !important;

    /* font-size: 18px; */
}

/*-----------CAROUSEL---------------*/

.carousel-caption
{
    top: 40%;
    font-family: 'Raleway', sans-serif !important;
    z-index: 0 !important;

}

.carousel-caption h5
{
    font-size: 72px !important;
    font-weight: lighter !important;
    z-index: 0 !important;
    text-shadow: 3px 3px #000000;

}

.carousel-indicators 
{
    z-index: 1 !important;
}



/*-----------SEARCH---------------*/



#container-search
{
    /* background-image: linear-gradient(rgba(16,19,87,0.9),rgba(16,19,87,0.9)),url(backend/app/assets/images/bg.jpg); */
    background-position: center;
    height: 200px;
    padding: 25px;
    text-align: center;
    background-color: #101357;
    color: #FFF;
    font-family: 'Raleway', sans-serif !important;
    font-weight: lighter !important;
}

#container-search button
{
    margin-left: 5px;
    margin-right: 5px;

}

/*-----------EVENTS---------------*/

#container-events
{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;

}


#button-cont
{
    float: top;
    width: 100%
}

/* #button-cont button
{
    float: right;
    margin-top: 20px;
    margin-right: 40px;
    font-family: 'Raleway', sans-serif !important;

} */

#events-sub
{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 10px;
    grid-template-rows: auto;
    justify-items: center;
    width: 100% !important;
    overflow: scroll;
}

/*-----------EVENT CARD---------------*/


.card
{
    width: 85% !important;
    height: 400px !important;
    margin: 20px;
    /* border-radius: 1em !important; */
}

.card img
{
    height: 200px;
}

.subDiv
{
    overflow: hidden;
    white-space: wrap;
    margin: 20px;
}

.subDiv h2
{
    font-size: 22px;
    font-family: 'Raleway', sans-serif !important;
}

.subDiv h4
{
    font-size: 16px;
    font-family: 'Raleway', sans-serif !important;
}

.subDiv h6
{
    font-size: 12px;
    color: #333;
    font-family: 'Raleway', sans-serif !important;
}

/*-----------EVENT CARD END---------------*/

/*-----------FOOTER ---------------*/

#container-footer
{
    background-color: #101357;
    height:100px;
    padding: 50px;
    font-family: 'Raleway', sans-serif !important;
    text-align: center;
    color: #FFF;
}

#container-footer p
{
    transform: translateY(-40%);
    
}

.anchor
{
    position: absolute;
    left: 0px;
    /* top: 60px; */
}

/*-----------FOOTER END---------------*/




/*-----------MODAL START---------------*/

/* MY EVENTS */

.eventmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* justify-items: center; */
    padding: 100px;
}

.modal-content
{
    font-family: 'Raleway', sans-serif;
    position: center;
    padding: 20px;
}

.eventclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content span
{
    /* float: right; */
    text-align: right;
    height: 30px;

}

.modal-content h3
{
    text-align: center;
    margin-bottom: 20px;
}

.eventclose:hover,
.eventclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.holdingDiv
{
    margin-top: 5px;    
    margin-bottom: 5px;
    padding: 5px
}

.holdingDiv h4
{
    font-size: 18px;
    margin-left: 5px;
}

.holdingDiv h6
{
    margin-left: 20px;
}

.holdingDiv h6 button
{
    transform: translateY(-40%);
}


/* CREATE EVENTS */


/* The Modal (background) */
#myModal 
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding: 100px;

    
}



/* Modal Content/Box */
.create-event-modal-content 
{
    font-family: 'Raleway', sans-serif;
    position: center;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    height: 110%;
    border-radius: 5px;
}

#create-event-form
{
    background-color: #fefefe;
}

#leftbox 
{ 
    background-color: #fefefe;
    float:left;  
    width:33.3333%;
    position: left;   
    padding: 5%;
    justify-items: center;
    

} 
#middlebox
{ 
    background-color: #fefefe;
    float:left;  
    width:33.3339%; 
    position: center;
    padding: 5%;
    justify-items: center;

} 
#rightbox
{ 
    background-color: #fefefe;
    float:right; 
    width:33.33339%; 
    position: right;
    padding: 5%;
    justify-items: center;

} 
 

.create-event-modal-content h3 
{
    margin:20px;
    text-align:center; 
    transform: translateY(80%);

}


/* The Close Button */
.close 
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 20px;
    padding-top: 20px;
}

.close:hover,
.close:focus 
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*       CARD MODAL            */



.modal-dialog
{
    max-width: 90% !important;

}

.modal-content
{
    color: #000;
    width: 100%;
}

.modal-header
{
    width: 100%;

}

.modal-title
{
    font-size: 24px;
}

.modal-body img
{
    margin-bottom: 10px;
}

.modal-body button
{
    margin: 5px;
}


